*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body{
    background: url(./Assets/bg-blog.jpg);
    background-size: cover;
}

.active{
    background-color: white;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(4px) saturate(200%);
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.navLinks ul li{
    display: inline-flex;
    padding: 0px 30px;
}

.navLinks{
    margin-left: 50%;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 5px;
    font-weight: 500;
}

h1{
    margin-top: 30px;
}

h2 a{
    text-decoration: none;
    color: black;
}

nav ul li a:not(.active):hover{
    background-color: black;
    color: white;
}

.logo{
    margin-left: 40px !important;
}

.container h1{
    margin-top: 20px;
}
  
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.blog-container:hover {
    transform: translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.blog-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-container h3 {
    color: #333;
}

.blog-container p {
    color: #666;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.filter{
   margin-left: 10px;
   padding: 8px 20px;
   border-radius: 16px;
   border: none;
   background-color: black;
   color: white;
   cursor: pointer;
}

#category{
    margin-left: 10px;
    width: 10%;
    border-radius: 16px;
    border: none;
}

option{
    border-radius: 5px;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#search{
    
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 16px;
    border: none;
    
}

.link{
    text-decoration: none;
}